@model SonOfCod.Models.Subscriber

@{
    ViewData["Title"] = "Subscribe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Son of Cod Seafood Newsletter Subscription</h1>

    <hr />

    <h3><strong>New Subscriber</Strong>: Please Complete the information form below If you are interested in reiceiving a Free subscription to Our Newsletter.</h3>
    <br /><br />
    <h4><span class="asterisk"> * </span>  Fields marked with an asterisk indicate a required response.</h4>
    <br /><br />
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email)
        <br /><br />
        @Html.LabelFor(model => model.First_name)
        @Html.TextBoxFor(model => model.First_name)
        <br /><br />
        @Html.LabelFor(model => model.Last_name)
        @Html.TextBoxFor(model => model.Last_name)
        <br /><br />
        @Html.LabelFor(model => model.Company)
        @Html.TextBoxFor(model => model.Company)
        <br /><br />
        @Html.LabelFor(model => model.Consumer_type)
        @Html.TextBoxFor(model => model.Consumer_type, new { @placeholder = "Consumer or Industry" })
        <br /><br />

        <input type="submit" value="Subcribe" class="btn btn-success" />
    }
</div>

