@model SonOfCod.Models.Promotion
@{
    ViewData["Title"] = "Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
<div class="container">
    <h2>Welcome to Son Of Cod</h2>
    <p>Team can Post Marketing's Information Here</p>
    @using(Html.BeginForm())
    {
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title)
        <br /><br />
        @Html.LabelFor(model => model.Image_url)
        @Html.TextBoxFor(model => model.Image_url)
        <br /><br />
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description)
        <br /><br /> 

        <input type="submit" value="CreateMarketing" class="btn btn-primary" />

    }
    <p>@Html.ActionLink("Back to Marketing Page", "Marketing")</p>

</div>

