@model IEnumerable<SonOfCod.Models.Promotion>

@{
    ViewData["Title"] = "Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h2>Welcome @User.Identity.Name, to Marketing Page</h2>
    <br /><br />
    <h4>@Html.ActionLink("Add new promotion", "CreateMarketing")</h4>
    <table class="table" >
        <tr>
            <th>
                <h3> 
                    @Html.ActionLink("View Mailing List", "MailingList", "Admin")
                </h3>
            </th>
            <th></th>
        </tr>


        @if (Model.Any())
        {

            @foreach (var listPromotion in Model)
                {
                <tr>
                    <td>
                        <strong>@Html.DisplayFor(modelPromotion => listPromotion.Title)</strong>
                        <br />
                        <img id="marketing" src="@listPromotion.Image_url" alt="@listPromotion.Title" />
                        <br />
                        @Html.DisplayFor(modelPromotion => listPromotion.Description)
                        <br />                        
                        @Html.ActionLink("Edit", "EditMarketing", new { id = listPromotion.Id }) |
                        @Html.ActionLink("Delete", "DeleteMarketing", new { id = listPromotion.Id })

                       
                    </td>
                </tr>
            }

        }
        else
        {
            <tr>No Promotion have been added yet!</tr>

        }
    </table>

    <br /><br />
   
    @Html.ActionLink("Main page", "Index", "Admin") 
</div>


 